body {
  margin: 0;
  background-color: #fafafa;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#header .section1 {
  background-color: #23856d;
  color: white;
}
#header .section1 .container {
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
#header .section1 .container .telephone {
  opacity: 0.8;
}
#header .section1 .container .telephone__icon {
  margin: 2px 0px -3px -20px;
}
#header .section1 .container .message {
  opacity: 0.8;
}
#header .section1 .container .message__icon {
  margin: 2px 0px -4px -20px;
}
#header .section1 .container .header {
  font-weight: 800;
  font-size: 16px;
}
#header .section1 .container .followus {
  display: flex;
}
#header .section1 .container .followus__socialmedia {
  display: flex;
}
#header .section1 .container .followus__socialmedia-media {
  margin-left: 15px;
}
#header .section2 .container {
  height: 65px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: white;
}
#header .section2 .container .name__header {
  font-size: xx-large;
  position: relative;
  right: 24px;
}
#header .section2 .container .navbar__list {
  display: flex;
  list-style-type: none;
  width: 350px;
  align-items: center;
}
#header .section2 .container .navbar__list-item {
  font-size: 17px;
  margin-right: 30px;
}
#header .section2 .container .loginform {
  display: flex;
}
#header .section2 .container .loginform__register-text {
  color: #23a6f0;
  font-size: 17px;
}
#header .section2 .container .loginform__icons-icon {
  margin-left: 23px;
}

#main .section1 .buttons {
  height: 75px;
  display: flex;
  position: relative;
  left: 87px;
}
#main .section1 .buttons__btn1 {
  border: none;
  background-color: #fafafa;
  font-size: 17px;
  font-weight: 700;
}
#main .section1 .buttons__btn2 {
  font-size: 17px;
  border: none;
  background-color: #fafafa;
  color: #bdbdbd;
}
#main .section1 .container {
  display: flex;
  margin-left: 50px;
  width: 80%;
}
#main .section1 .container .left {
  margin: 0 40px 0 40px;
}
#main .section1 .container .left__bigfoto-foto {
  margin-bottom: 10px;
}
#main .section1 .container .left__littlefoto-foto {
  margin-right: 7px;
}
#main .section1 .container .right {
  margin-left: 40px;
}
#main .section1 .container .right__header {
  margin: 20px 0;
  font-size: 24px;
  font-weight: 400;
}
#main .section1 .container .right .stars__text {
  font-size: 14px;
  font-weight: 700;
  opacity: 0.5;
}
#main .section1 .container .right .information__prize {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 12px;
}
#main .section1 .container .right .information__text1 {
  opacity: 0.8;
  letter-spacing: 0.3px;
}
#main .section1 .container .right .information__text2 {
  color: #23a6f0;
  font-weight: 700;
}
#main .section1 .container .right .information__text3 {
  opacity: 0.7;
}
#main .section1 .container .right .information .footer {
  display: flex;
  margin-top: 37px;
  height: 40px;
}
#main .section1 .container .right .information .footer__btn {
  border: none;
  background-color: #23a6f0;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
}
#main .section1 .container .right .information .footer .buttons {
  position: relative;
  left: 5px;
  top: 4px;
  margin-left: 10px;
}
#main .section1 .container .right .information .footer .buttons__icons {
  margin-right: 10px;
}
#main .section1 .container .right .information .footer .buttons__icons-icon {
  background-color: white;
  border: 1px solid #bdbdbd;
  border-radius: 50%;
  padding: 5px;
}
#main .section2 {
  width: 100%;
  background-color: #fff;
}
#main .section2 .header {
  width: 80%;
}
#main .section2 .header .navbar {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  font-size: 15px;
  font-weight: 500;
  opacity: 0.6;
  margin: 26px;
}
#main .section2 .header .navbar__item {
  padding-top: 23px;
}
#main .section2 .container {
  width: 80%;
}
#main .section2 .container .writing {
  display: flex;
  justify-content: space-evenly;
  padding: 40px;
}
#main .section2 .container .writing .image__foto {
  padding-top: 22px;
}
#main .section2 .container .writing .text1 {
  width: 28%;
}
#main .section2 .container .writing .text1__header {
  font-size: 21px;
  margin-top: 16px;
}
#main .section2 .container .writing .text1__information {
  opacity: 0.7;
  font-size: 15.5px;
}
#main .section2 .container .writing .text2__header {
  font-size: 21px;
  margin-top: 16px;
}
#main .section2 .container .writing .text2__information {
  margin-bottom: 0px;
  color: #737373;
}

.container {
  display: flex;
  width: 100%;
}
.container .stickers {
  width: 80%;
  padding: 50px 35px;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
}
#footer {
  background-color: rgb(255, 255, 255);
}
#footer .container {
  width: 100%;
  height: 320px;
}
#footer .container .writing {
  width: 80%;
  margin: 0 50px;
  padding: 0 41px;
}
#footer .container .writing .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .container .writing .header__tittle {
  font-size: 25px;
  margin-bottom: 20px;
}
#footer .container .writing .header .media__image {
  margin-right: 13px;
}
#footer .container .writing .contact .all {
  padding-left: 0;
}
#footer .container .writing .contact .all__items {
  display: flex;
  justify-content: space-between;
}
#footer .container .writing .contact .all__items .column {
  list-style-type: none;
  padding-left: 0;
}
#footer .container .writing .contact .all__items .column__one {
  color: #737373;
  font-weight: 600;
  margin-bottom: 5px;
}
#footer .container .writing .contact .all__items .column__one-tittle {
  font-size: 16px;
  color: black;
}
#footer .container .writing .contact .all__items .column .form__email {
  border: 1px solid #e6e6e6;
  padding: 13px;
  border-radius: 4px;
  margin-bottom: 1px;
}
#footer .container .writing .contact .all__items .column .form__btn {
  border: none;
  padding: 13px;
  background-color: #23a6f0;
  color: #fff;
}
#footer .container .writing .contact .all__items .column__text {
  opacity: 0.6;
  font-size: 13px;
  letter-spacing: 0.1px;
}

.sonluq {
  padding: 24px 38px;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.5;
  margin-left: 50px;
}/*# sourceMappingURL=project.css.map */